.comments-wrapper {
    max-width: 730px;
    margin: 64px auto;
}

.replies {
    padding-left: 88px;
    position: relative;
}

.replies::before {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: 43px;
    width: 2px;
    background: #E9EBF0;
}

@media screen and (max-width: 760px) {
    .comments-wrapper {
        padding: 12px 16px;
        margin: unset;
    }

    .replies {
        padding-left: 18px;
    }

    .replies::before {
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        background: #E9EBF0;
    }
}