<div class="comment">

  <div class="comment__vote desktop">
    <a class="upvote" (click)="onVote('up')">
      <i class="fa-solid fa-plus"></i>
    </a>
    <p class="text-moderate-blue fs-body-m m-0">{{vote.score}}</p>
    <a class="downvote" (click)="onVote('down')">
      <i class="fa-solid fa-minus"></i>
    </a>
  </div>

  <div class="comment__content">
    <div class="comment__header">
      <div class="comment__image"><img src={{comment.user.image.png}} width="32" height="32" alt="" />
      </div>
      <p class="comment__user">{{comment.user.username}}</p>
      @if (comment.user.username === currentUser.username) { <p class="comment__you">you</p>}
      <p class="comment__period">{{comment.createdAt | toAgo}}</p>


      <div class="comment__actions desktop">
        @if (comment.user.username !== currentUser.username) {
        <a class="btn-reply text-moderate-blue" (click)="onReply()">
          <i class="fa-solid fa-reply"></i>
          <span>Reply</span>
        </a>
        }
        @else {
        <div class="btn-edit-delete">
          <a class="btn-delete text-red" (click)="showConfirmationModal()">
            <i class="fa-solid fa-trash"></i> Delete</a>
          <a class="btn-edit text-moderate-blue" (click)="editComment()">
            <i class="fa-solid fa-pen"></i> Edit</a>
        </div>
        }
      </div>
    </div>

    @if (!onEditMode){
    <div class="comment__message">
      @if (comment.replyingTo){ <span class="text-blue">&#64;{{ comment.replyingTo }}</span> }
      {{comment.content}} </div>
    }
    @else {
    <div class="reply__form">
      <textarea placeholder="Add a comment..." class="reply__textarea" [(ngModel)]="editedComment" name="reply"
        id="reply"></textarea>
    </div>
    <div class="update__btns">
      <button class="btn btn-cancel" (click)="onCancel()">Cancel</button>
      <button class="btn btn-update" (click)="onEditComment()">Update</button>
    </div>
    }

  </div>


  <div class="comment__mobile-actions mobile">
    <div class="comment__vote mobile">
      <a class="upvote" (click)="onVote('up')">
        <i class="fa-solid fa-plus"></i>
      </a>
      <p class="text-moderate-blue fs-body-m m-0">{{vote.score}}</p>
      <a class="downvote" (click)="onVote('down')">
        <i class="fa-solid fa-minus"></i>
      </a>
    </div>


    <div class="comment__actions mobile">
      @if (comment.user.username !== currentUser.username) {
      <a class="btn-reply text-moderate-blue" (click)="onReply()">
        <i class="fa-solid fa-reply"></i>
        <span>Reply</span>
      </a>
      }
      @else {
      <div class="btn-edit-delete">
        <a class="btn-delete text-red" (click)="showConfirmationModal()">
          <i class="fa-solid fa-trash"></i> Delete</a>
        <a class="btn-edit text-moderate-blue" (click)="editComment()">
          <i class="fa-solid fa-pen"></i> Edit</a>
      </div>
      }

    </div>
  </div>
</div>

@if (showReplyForm) {
<app-send-comment [currentUser]="currentUser" [replyingTo]="comment"></app-send-comment>
}

@if (showDeleteConfirmation) {
<app-modal (closeModal)="shouldHideModal($event)" (deleteComment)="shouldDelete($event)"></app-modal>
}