.comment {
    background-color: white;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    align-items: flex-start;
    gap: 24px;
    width: 100%;
    margin: 20px auto;

    &__content {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }

    &__vote {
        background-color: var(--very-light-gray);
        padding: 12px 12px;
        text-align: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 11px;
        font-family: 'Rubik';
        font-weight: 500;
        height: auto;

        .upvote,
        .downvote {
            color: var(--light-grayish-blue);
            font-size: 14px;
            font-weight: bold;
        }
    }

    &__header {
        display: flex;
        align-items: center;
    }

    &__image {
        margin-right: 18px;
    }

    &__actions {
        margin-left: auto;
    }


    &__user {
        font-size: var(--fs-heading-m);
        color: var(--dark-blue);
        font-weight: 500;
        margin-right: 8px;
    }

    &__you {
        background-color: var(--moderate-blue);
        color: white;
        font-size: var(--fs-body-s);
        font-weight: 500;
        padding: 1px 6px 3px 6px;
        border-radius: 2px;
        margin-right: 16px;
    }

    &__period {
        font-size: var(--fs-body-m);
        color: var(--grayish-blue);
        font-weight: 400;
    }

    &__message {
        color: var(--grayish-blue);
        font-size: var(--fs-body-m);
        line-height: 150%;
    }
}

.btn-edit-delete {
    display: flex;
    gap: 24px;
}

.btn-reply,
.btn-edit,
.btn-delete {
    font-size: var(--fs-body-m);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-reply:hover,
.btn-edit:hover,
.btn-delete:hover {
    opacity: 0.6;
}

.reply__textarea {
    border: 1px solid #E9EBF0;
    font-size: var(--fs-body-m);
    color: var(--grayish-blue);
    line-height: 150%;
    padding-left: 24px;
    border-radius: 8px;
    padding-top: 12px;
    min-height: 96px;
    width: 100%;
    font-family: 'Rubik';
}

.update__btns {
    display: flex;
    gap: 14px;
    margin-left: auto;
}

.btn {
    padding: 12px 30px;
    line-height: 150%;
    color: white;
    font-weight: 600;
    border: none;
    outline: unset;
    font-size: var(--fs-body-m);
    border-radius: 8px;
}

.btn-update {
    background-color: var(--moderate-blue);
}

.btn-update:hover {
    background-color: #5357B699;
}

.btn-cancel {
    background-color: var(--soft-red);
}

.btn-cancel:hover {
    background-color: #ED636899;
}

.mobile {
    display: none;
}

@media only screen and (max-width: 760px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
    }

    .comment__vote {
        flex-direction: row;
        padding: 10px 10px;
        gap: 16px;

        a {
            display: flex;

            i {
                margin: auto;
            }
        }
    }

    .comment {
        gap: 16px;
        padding: 16px;
        flex-direction: column;

        &__mobile-actions {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        &__image {
            margin-right: 16px;
        }

        &__you {
            margin-left: 8px;
            margin-right: 0px;
        }

        &__user {
            margin-right: 0px;
        }

        &__period {
            margin-left: 16px;
        }
    }


}

.text-blue {
    color: var(--moderate-blue);
}